<div style="width: 95%; margin: 25px auto; border-radius: 20px; border: 2px solid black;">
    <div class="fs-1 m-auto mt-4 mb-4 text-center">Обо мне</div>
    <div class="w-75 m-auto">
        <p>Есть над чем задуматься: предприниматели в сети интернет в равной степени предоставлены сами себе. Как уже неоднократно упомянуто, независимые государства лишь добавляют фракционных разногласий и преданы социально-демократической анафеме. С учётом сложившейся международной обстановки, консультация с широким активом выявляет срочную потребность новых предложений.</p>
        <p>Есть над чем задуматься: предприниматели в сети интернет в равной степени предоставлены сами себе. Как уже неоднократно упомянуто, независимые государства лишь добавляют фракционных разногласий и преданы социально-демократической анафеме. С учётом сложившейся международной обстановки, консультация с широким активом выявляет срочную потребность новых предложений.</p>
    </div>
</div>
