[resources]
scss[] = "calendar.scss"
==
{% if eventsCount != 0 %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата</th>
                <th scope="col">Тип события</th>
            </tr>
            </thead>
            <tbody>
            {% for key, item in events %}
            <tr>
                <th scope="row">{{key + 1}}</th>
                <td>{{item.date_reserv}}</td>
                <td>{{item.tag_name}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="fw-semibold">Нет событий месяца</div>
{% endif %}