[resources]
scss[] = "form.scss"
==
<section class="contact bg-light pb-4">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <p class="display-6 fw-semibold text-center">Связаться со мной</p>
                <form action="" method="POST">
                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control form-control-lg"
                            name="name"
                            placeholder="Ваше имя"
                        />
                    </div>
                    <div class="mb-3">
                        <input
                            type="text"
                            class="form-control form-control-lg"
                            name="phone"
                            placeholder="Номер телефона"
                        />
                    </div>
                    <div class="mb-3">
                <textarea
                    class="form-control form-control-lg"
                    name="message"
                    rows="6"
                    placeholder="Сообщение"
                ></textarea>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary text-white mt-3">
                            Отправить сообщение
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
