<div class="m-auto" style="width: 50%;">
    <form>
      <div class="mb-3">
        <label for="exampleInputName" class="form-label">Имя</label>
        <input type="email" class="form-control" id="exampleInputName" style="border: 2px solid black; border-radius: 10px;">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Номер телефона</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="phoneHelp" style="border: 2px solid black; border-radius: 10px;">
        <div id="phoneHelp" class="form-text">Я никому не сообщу Ваш номер телефона.</div>
      </div>
      <div class="mb-3">
        <label class="form-label">Ваше сообщение</label>
          <textarea class="form-control" rows="5" style="border: 2px solid black; border-radius: 10px;"></textarea>
      </div>
      <button type="submit" class="btn btn-dark">Отправить</button>
    </form>
</div>
