[resources]
scss[] = "form.scss"
==
<div class="container-form m-auto mt-5">
    <div class="display-4 fw-bold text-center mb-3">Напиши!</div>
    <form>
      <div class="mb-3">
        <input type="email" class="form-control" id="exampleInputName" placeholder="Имя">
      </div>
      <div class="mb-3">
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Номер телефона" aria-describedby="phoneHelp">
        <div id="phoneHelp" class="form-text">Я никому не сообщу Ваш номер телефона.</div>
      </div>
      <div class="mb-3">
          <textarea class="form-control" rows="5" placeholder="Ваше сообщение"></textarea>
      </div>
      <div class="text-center">
          <button type="submit" class="btn btn-dark btn-lg">Отправить</button>
      </div>
    </form>
</div>
