[resources]
scss[] = "header.scss"
==
<!-- Header -->
<header class="header">
    <div class="hero text-white pt-7">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb fw-semibold">
                            {% if this.page.title == 'Статья' %}
                                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{'index'|page}}">Главная страница</a></li>
                            <li class="breadcrumb-item"><a class="text-decoration-none" href="{{'blog'|page}}">Блог</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{blogSingle.title}}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a class="text-decoration-none" href="{{'index'|page}}">Главная страница</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{this.page.title}}</li>
                            {% endif %}
                        </ol>
                    </nav>
                    <h1>
                        {% if this.page.title == 'Статья' %}
                            {{blogSingle.title}}
                        {% else %}
                            {{this.page.title}}
                        {% endif %}
                    </h1>
                </div>
            </div>
        </div>
    </div>
</header>
