[resources]
scss[] = "pagination.scss"
==
<nav aria-label="...">
    <ul class="pagination justify-content-center">
        <li class="page-item {{prevPageBtn}}">
            <a class="page-link" href="{{'blog'|page({page: prevPageBtn})}}">Назад</a>
        </li>
        <li class="page-item">
            <a class="page-link {{prevPage}}" href="{{'blog'|page({page: prevPage})}}">{{prevPage}}</a>
        </li>
        <li class="page-item active" aria-current="page">
            <a class="page-link" disabled>{{currentPage}}</a>
        </li>
        <li class="page-item">
            <a class="page-link {{nextPage}}" href="{{'blog'|page({page: nextPage})}}">{{nextPage}}</a>
        </li>
        <li class="page-item {{nextPageBtn}}">
            <a class="page-link" href="{{'blog'|page({page: nextPageBtn})}}">Вперед</a>
        </li>
    </ul>
</nav>