[collection blog]
handle = "Blog\Post"
==
<div class="h1">Блог</div>
<div class="d-flex flex-row justify-content-around flex-wrap" style="gap: 30px;">
    {% for item in blog %}
        <div class="card w-25 mh-25">
            <div class="card-body">
                <h2 class="card-title">{{item.title}}</h2>
                <p class="cart-text">{{item.featured_text}}</p>
                <p>{{item.published_at_date|date('j M Y')}}</p>
                <a href="#" class="btn btn-primary">Click</a>
            </div>
        </div>
    {% endfor %}
</div>