[resources]
scss[] = "footer.scss"
==
{% styles %}

<footer class="footer-container mt-4 mb-4">
    <div class="row m-auto text-center">
        <div class="col-md-6">
            <div class="fs-3 fw-semibold">Контакты</div>
            <ul class="list-group">
                <li class="list-group-item">
                    <i class="fa-solid fa-phone fa-lg"></i>
                    <a href="tel:+375444444444" class="fs-5 text-decoration-none link-dark">+375 44 444 44 44</a>
                </li>
                <li class="list-group-item">
                    <i class="fa-solid fa-phone fa-lg"></i>
                    <a href="tel:+375444444444" class="fs-5 text-decoration-none link-dark">+375 44 444 44 44</a>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <div class="fs-3 fw-semibold py-1">Социальные сети</div>
            <ul class="list-group d-flex flex-row justify-content-center">
                <li class="list-group-item">
                    <a href="#" class="fs-2"><i class="fa-brands fa-vk fa-2xl"></i></a>
                </li>
                <li class="list-group-item">
                    <a href="#" class="fs-2"><i class="fa-brands fa-instagram fa-2xl"></i></a>
                </li>
            </ul>
        </div>
    </div>
</footer>
