<footer class="m-auto mt-4 d-flex flex-row justify-content-around" style="width: 95%; border-top: 2px solid black;">
    <div>
        <div>Контакты</div>
        <ul>
            <li>
                <a href="tel:+375444444444">+375 44 444 44 44</a>
            </li>
            <li>
                <a href="tel:+375444444444">+375 44 444 44 44</a>
            </li>
        </ul>
    </div>
    <div>
        <div>Социальные сети</div>
        <ul>
            <li>
                <a href="#">VK</a>
            </li>
            <li>
                <a href="#">Instagram</a>
            </li>
        </ul>
    </div>
</footer>
