[viewBag]
snippetCode = "header"
snippetName = "Header"

[resources]
js[] = "nav-bar.js"
scss[] = "header.scss"
==
{% styles %}

<nav class="navbar navbar-expand-xl navbar-light fs-4">
  <div class="container-fluid">
    <a class="navbar-brand fs-4" href="/myoctober">LOGONAME</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto vstack gap-5">
        <li class="nav-item">
          <a class="nav-link" href="/myoctober/calendar">Календарь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myoctober/blog">Блог</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myoctober/events">Мероприятия</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/myoctober/about">Обо мне</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn btn-dark fs-4" href="#">СВЯЗАТЬСЯ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>