@import "main";

.navbar {
    width: 95%;
    margin: 10px auto;

    .container-fluid {
        .nav-link {
            color: $link-color;
        }

        .btn {
            color: $btn-link-color;
        }
    }
}
